body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    border: 2px solid black;
    padding: 5px 25px 15px 25px;
    width: 40%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
    text-align: center;
}
@media (max-width:576px){
    body{
        display: block;
    }
    form{
        width: 100%;
    }
}